@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Zain", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
}

header{
  position: sticky;
  z-index: 1000;
  top: 0;
  background-color: rgba(235, 235, 235, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* لبعض المتصفحات */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.logo{
  display: block;
  width: 30px;
    margin: 0 30px;

}

header a {
  text-decoration: none;
  color: #3b3b3b;
  font-size: 12px;
  font-weight: 600;
  margin: 0 20px;
  transition: 0.8s ease;
}

header a:hover{
  color: #000;
}

@media (max-width: 470px){
  header{
    display: flex;
    justify-content: space-around;
  }
  header a{
    font-size: 12px;
    margin: 0 10px;
  }
  .a-header{
    margin-left: 90px;
  }
  .logo{
    margin: 0 ;
  }
}