@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Readex+Pro&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;  
    background-color: #161616;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

/* إخفاء المحتوى الأول */
#content {
    text-align: center;
    margin-top: 50px;
}

.header {
    background-color: #161616;
    color: #ffffff;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}
.logo {
    margin-right: 40px;
    height: 25px; /* ارتفاع الصورة */
}

.nav {
    display: flex;
    gap: 40px;
}
.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
}
.menu-icon {
    color: rgba(255, 255, 255, 0.7);
    display: none;
    font-size: 24px;
    cursor: pointer;
    animation: move 2s;
}

@media (max-width: 834px) {
    .nav {
        display: none;
        flex-direction: column;
        background-color: #161616;
        position: absolute;
        top: 40px; /* علشان نبعد القائمة عن الهدر */
        right: 0;
        width: 100%;
        padding: 20px;
        text-align: right; /* علشان نركز النص في شاشة الهاتف */
        height: 100vh;
    }
  
    .nav.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}
/* التعديل الجديد علشان الكلام يظهر في نص الشاشة */
@media (min-width: 834px) {
    .header {
        justify-content: center; /* علشان نركز العناصر في المنتصف */
    }
    .nav {
        margin-right: 20px; /* علشان نبعد القائمة عن اللوجو */
    }
}

    
.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field {
    border: 2px solid #444;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: #2a2a2a;
    color: #ffffff;
    margin: 20px;
}

.input-field:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.3);
}


.submit-btn {
    background: #00a2ff;
    color: #ffffff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    margin: 20px;
}
.note{
    margin: 0 23px;
}
.submit-btn:hover {
    background: #00498d;
    box-shadow: 0 4px 12px #00aeffbd;
}

.form-note {
    text-align: center;
    font-size: 0.9rem;
    color: #cccccc;
}

@media (max-width: 480px) {
    .order-container {
        padding: 15px;
    }

    .form-title {
        font-size: 1.2rem;
    }
}


.cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    vertical-align: middle;
}
.cart-count {
    position: absolute;
    top: 5px;
    right: -8px;
    background: #313131;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: 1px 7px;
}
.cart-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    
    z-index: 1001;
}
.cart-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    max-width: 90vw;
    height: 100%;
    background: #fff;
    
    z-index: 1002;
    transform: translateX(-100%);
    transition: transform 0.3s;
    padding: 30px 20px 20px 20px;
    overflow-y: auto;
    direction: rtl;
    color: #000000;
}
.cart-sidebar.active {
    transform: translateX(0);
}
.close-cart {
    font-size: 40px;
    cursor: pointer;
    color: #ff1900;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.cart-item img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-left: 12px;
    border-radius: 8px;
    border: 1px solid #000000;
}
.cart-item .notes {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
    padding: 5px;
    background: #f5f5f5;
    border-radius: 4px;
}
@media (max-width: 600px) {
    .cart-sidebar {
        width: 95vw;
        padding: 15px 5vw 15px 5vw;
    }
    .cart-icon {
        margin-left: 0px;
        font-size: 18px;
    }

}

.account-icon{
          color: #ffffff;
          font-size: 20px;
          cursor: pointer;
           margin-left: 20px;
          align-items: center;
        }

            @media (max-width:834px){
                .account-icon{
                   margin-left: 90px;
                   margin-top: 5px;
                }
            }


.header2 {
    background-color: rgba(22, 22, 22, 0.4);
    backdrop-filter: blur(10px);
    color: #ffffff;
    padding: 7px 35px;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* لضمان ظهوره فوق المحتوى */
    transition: margin-top 0.3s ease-in-out; /* تأثير ناعم عند تغيير المسافة */
    .nav.active + .header2 {
        margin-top: 100vh; /* يجعل الهيدر الثاني يظهر بعد القائمة */
    }
}

.hedar-2-p-img-1 {
    width: 25px;
}

.hedar-2-a {
    text-decoration: none;
}

.header2-nav {
    display: flex;
    align-items: center;
    gap: 15px;
}
.header2-nav a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.hedar-2-p {
    font-size: 1.2rem;
}

@media (max-width: 834px) {
    .header2 {
        padding: 10px;
    }
   
    .header2-nav button {
        font-size: 12px;
        padding: 5px 12px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .header2-nav a {
        font-size: 15px;
    }

    .Social {
        font-size: 18px;
    }
    .hedar-2-p {
        font-size: 14px;
    }
    .hedar-2-p-img-1 {
        width: 20px;
    }
}





.container {
    max-width: 98%;
    margin: 20px auto;
    background: #161616;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    position: sticky;
    top: 70px; /* هذا حسب ارتفاع الهيدر عندك */
    align-self: flex-start;
    height: fit-content;
    z-index: 1;
}

.image-section img {
    max-width: 100%;
    padding: 50px 20px;
    height: auto;
}

/* تجاوب مع الشاشات الصغيرة */
@media (max-width: 768px) {

}

.info-section {
    flex: 1;
}

.title {
    margin-bottom: 20px;
}

.title h1 {
    font-size: 2rem;
    margin: 10px 0;
}

.title p {
    color: #cccccc;
    margin-bottom: 20px;
}

.descuond-1 {
    text-decoration: none;
    font-size: 15px;
    background-color: #363636;
    color: #ffffff;
    border-radius: 50px;
    padding: 7px;
}
.descuond-1:hover {
    background-color: #808080;
}

.options {
    margin-top: 20px;
}

.options h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.option:focus {
    outline: none;
    border: 3px solid #0071e3;
}
.option:hover {
    background-color: #3a3a3a;
}

.option span {
    font-size: 1.3rem;
}

.price {
    font-weight: bold;
    color: #0071e3;
}

.help {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #cccccc;
}



.order-container {
    margin: 50px auto 50px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field {
    border: 2px solid #444;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: #2a2a2a;
    color: #ffffff;
}

.input-field:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.3);
}

.input-placeholder {
    font-size: 0.9rem;
    color: #999;
    position: absolute;
    top: 12px;
    left: 12px;
    transition: 0.3s;
    pointer-events: none;
}

.input-field:focus + .input-placeholder,
.input-field:not(:placeholder-shown) + .input-placeholder {
    top: -18px;
    left: 8px;
    font-size: 0rem;
    color: #1e90ff;
}

.submit-btn {
    background: #00a2ff;
    color: #ffffff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

.submit-btn:hover {
    background: #00498d;
    box-shadow: 0 4px 12px #00aeffbd;
}

.form-note {
    text-align: center;
    font-size: 0.9rem;
    color: #cccccc;
}

@media (max-width: 480px) {
    .order-container {
        padding: 15px;
    }

    .form-title {
        font-size: 1.2rem;
    }
    .container {
        flex-direction: column;
        padding: 0;
    }

    .image-section {
        position: relative; /* نوقف sticky في الشاشات الصغيرة */
        top: unset;
        padding-top: 0px;
    }
    .info-section{
        padding: 0 20px;
    }
    .info-section span{
        font-size: 1rem;
        max-width: 200px ;
    }
    .option {
        padding: 10px;
    }
    .image-section img{
        padding: 10px ;
        border-radius: 12px;
    }
}


@media (min-width: 768px) {
    .comparison-header h1 {
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}





.lorem{
    display: flex;
    align-items: center;
    justify-content: right;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 50px 180px;
    flex-direction: column;
}
.titel-1{
    text-align: right;
    direction: rtl;
}
.titel-1 h2{
    font-size: 40px;
}
.titel-1 p{
    font-size: 18px;
}
.p-titel-1{
    font-weight: 900;
    color: #d1d1d1;
}
@media (max-width: 768px) {
    .lorem{
        padding: 40px 20px;
    }
    .titel-1 h2{
        font-size: 25px;
    }
    .titel-1 p{
        font-size: 16px;
    }
}
.footer {
    margin: 0;
    padding: 50px;
        background: #1c1c1c;
        color: #fff;
        padding: 20px;
        text-align: right;
        direction: rtl;
    }
    .footer-top {
        padding-right: 95px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .footer-top img{
        width: 40px;
    }
    .footer-container {
        padding-left: 50px;
        padding-right: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-column {
        width: 22%;
    }
    .footer-column h4 {
        cursor: pointer;
        margin-bottom: 10px;
        transition: color 0.3s ease;
    }
    .footer-column h4:hover {
        color: #d4d4d4;
    }
    .footer-list {
        list-style: none;
        padding: 0;
        display: block;
        transition: max-height 0.3s ease-out;
    }
    .footer-column ul li a {
        font-size: 18px;
        color: #ccc;
        text-decoration: none;
    }
    .footer-column ul li a:hover {
        text-decoration: underline;
        color: #fff;
    }
    .footer-bottom {
        text-align: center;
        margin-top: 60px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        font-size: 14px;
        color: #666;
    }

    .footer-bottom a {
        margin: 0 10px;
        text-decoration: none;
        color: #ffffff;
    }

    .footer-bottom a:hover {
        text-decoration: underline;
        color: #ffffff;
    }

    .footer-bottom .country {
        color: #ccc;
        margin-right: 300px;
    }

    .footer-bottom span {
        color: #cecece;
    }

    @media (max-width: 768px) {
        .footer-bottom .country {
            font-size: 12px;
            display: block;
            margin: 10px 0 0 0;
        }
    }
    @media (max-width: 768px) {
        .footer-top{
            padding-right: 0px;
            padding-top: 10px;
        }
        .footer-container {
            padding: 10px;
            flex-direction: column;
        }
        .footer-top img{
        width: 30px;
    }
        .footer-column {
            width: 100%;
        }
        .footer-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
        .footer-column h4::after {
            content: " ▼";
            float: left;
            transition: transform 0.3s ease;
        }
        .footer-column.open h4::after {
            content: " ▲";
        }
        .footer-column.open .footer-list {
            max-height: 500px; /* Adjust as needed */
        }
    }