@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Readex+Pro&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Zain", sans-serif;
    font-weight: 700;
    font-style: normal;  
      background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}


/* إخفاء المحتوى الأول */
#content {
  text-align: center;
  margin-top: 50px;
}

.header {
    background-color: #ffffff;
    color: #6e6e6e;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
}
.logo {
    margin-right: 40px;
    height: 25px; /* ارتفاع الصورة */
}

.nav {
    display: flex;
    gap: 40px;
}
.nav a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
}
.menu-icon {
    color: rgba(0, 0, 0, 0.527);
    display: none;
    font-size: 24px;
    cursor: pointer;
    animation: move 2s ;
}

@media (max-width: 834px) {
    .nav {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 40px; /* علشان نبعد القائمة عن الهدر */
        right: 0;
        width: 100%;
        padding: 20px;
        text-align: right; /* علشان نركز النص في شاشة الهاتف */
   height: 100vh;
    }
  
    .nav.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}
/* التعديل الجديد علشان الكلام يظهر في نص الشاشة */
@media (min-width: 834px) {
    .header {
        justify-content: center; /* علشان نركز العناصر في المنتصف */
    }
    .nav {
        margin-right: 20px; /* علشان نبعد القائمة عن اللوجو */
    }
}


.account-icon{
    color: #000000;
    font-size: 20px;
    cursor: pointer;
     margin-left: 20px;
    align-items: center;
  }

      @media (max-width:834px){
          .account-icon{
             margin-left: 90px;
             margin-top: 5px;
          }
      }

.cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 35px;
    color: #474747;
    font-size: 22px;
    cursor: pointer;
    vertical-align: middle;
}
.cart-count {
    position: absolute;
    top: 11px;
    right: -8px;
    background: #000000;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: .2px 6px;


}
.cart-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1001;
}
.cart-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    max-width: 90vw;
    height: 100%;
    background: #fff;
    z-index: 1002;
    transform: translateX(-100%);
    transition: transform 0.3s;
    padding: 30px 20px 20px 20px;
    overflow-y: auto;
    direction: rtl;
    color: #000000;
}
.cart-sidebar.active {
    transform: translateX(0);
}
.close-cart {
    font-size: 40px;
    cursor: pointer;
    color: #ff1900;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.cart-item img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-left: 12px;
    border-radius: 8px;
    border: 1px solid #000000;
}
@media (max-width: 600px) {
    .cart-sidebar {
        width: 95vw;
        padding: 15px 5vw 15px 5vw;
    }
    .cart-icon {
        margin-left: 0px;
        font-size: 18px;
    }
}



.header2 {
    background-color: rgba(224, 224, 224, 0.4);
    backdrop-filter: blur(10px);
    color: rgb(0, 0, 0);
    padding: 7px 35px;
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* لضمان ظهوره فوق المحتوى */
    transition: margin-top 0.3s ease-in-out; /* تأثير ناعم عند تغيير المسافة */
    .nav.active + .header2 {
        margin-top: 100vh; /* يجعل الهيدر الثاني يظهر بعد القائمة */
    }
    
}

.hedar-2-p-img-1{
    width: 25px;
}

.hedar-2-a{
    
    text-decoration:none ;
}

.header2-nav{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header2-nav a {
    color: rgb(34, 34, 34);
    font-size: 18px;
    font-weight: bold;
}


.hedar-2-p{
    font-size: 1.2rem;
}

@media (max-width: 834px) {
    .header2 {
        padding: 10px;
    }
   
    .header2-nav button {
        font-size: 12px;
        padding: 5px 12px;
        margin-left: 20px;
        margin-right: 0px;
    }

    .header2-nav a {
        font-size: 15px;
    }

    .Social {
        font-size: 18px;
    }
    .hedar-2-p{
        font-size: 14px;
    }
    .hedar-2-p-img-1{
        width: 20px;
    }
}





.container {
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    max-width: 80%;
    border-radius: 12px;
}

.info-section {
    flex: 1;
}

.title {
    margin-bottom: 20px;
}

.title h1 {
    font-size: 2rem;
    margin: 10px 0;
}

.title p {
    color: gray;
    margin-bottom: 20px;
}

.descuond-1{
    text-decoration: none;
    font-size: 15px;
    background-color: #363636;
    color: #ffffff;
    border-radius: 50px;
    padding: 7px;
}
.descuond-1:hover{

    background-color: #808080;
}

.options {
    margin-top: 20px;
}

.options h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d6d6;
    color: #000;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}
.option:focus {
    outline: none;
    border: 3px solid #0071e3;
}
.option:hover {
    background-color: #e2e2e2;
}

.option span {
    font-size: 1rem;
}

.price {
    font-weight: bold;
    color: #0071e3;
}

.help {
    margin-top: 20px;
    font-size: 0.9rem;
    color: gray;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}





.order-container {
    margin:50px auto 50px ;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    text-align: center;
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field {
    border: 2px solid #c2c2c2;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: #e9e9e9;
    color: #1b1b1b;
    margin: 20px;
}

.input-field:focus {
    border-color: #1e90ff;
    box-shadow: 0 0 8px rgba(30, 144, 255, 0.3);
}


.submit-btn {
    background: #00a2ff;
    color: #ffffff;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    margin: 20px;
}
.note{
    margin: 0 23px;
}
.submit-btn:hover {
    background: #00498d;
    box-shadow: 0 4px 12px #00aeffbd;
}

.form-note {
    text-align: center;
    font-size: 0.9rem;
    color: #cccccc;
}

@media (max-width: 480px) {
    .order-container {
        padding: 15px;
    }

    .form-title {
        font-size: 1.2rem;
    }
}





.comparison-section {
    background-color: #f5f5f7;
    padding: 20px;
    text-align: center;
}

.comparison-header h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 768px) {
    .comparison-header h1 {
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1024px) {
    .comparison-header h1 {
        font-size: 3rem;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 1s ease;
}
.product.active{
    opacity: 1;
    transform: translateY(0);
}
.product img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}


.product h2 {
    font-size: 30px;
    margin: 15px 0 10px;
}

.product p {
    font-size: 16px;
    color: #555;
}

.product .price {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.features {
    margin-top: 15px;
}

.features p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.color-dots span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}



.done-ordar{
    background-color:#f5f5f7 ;
}

.done-ordar-h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 100px;
}

.done-ordar-p {
    text-align: center;
    font-size: 20px;
    padding-bottom: 80px;
}

.img-done-ordar {
    display: block;
    margin: 0 auto;
    width: 50%;
    position: relative;
}

@media (max-width: 768px) {
    .done-ordar-h1 {
        font-size: 40px;
        padding-top: 80px;
    }

    .done-ordar-p {
        font-size: 18px;
        padding-bottom: 60px;
    }

    .img-done-ordar {
        width: 90%;
    }
}






.loader {
    display: flex;
    justify-content: space-between;
    width: 60px;
    margin: 0 auto 0 ;
  }
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    animation: bounce 1.5s infinite;
  }
  .dot1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    animation: bounce 1.5s infinite;
  }
  .dot2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00aeff;
    animation: bounce 1.5s infinite;
  }

  .dot3 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    animation: bounce 1.5s infinite;
  }
  .dot4 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ffc8;
    animation: bounce 1.5s infinite;
  }
  .dot5 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0400ff;
    animation: bounce 1.5s infinite;
  }
  .dot6 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #4d4d4d;
    animation: bounce 1.5s infinite;
  }
  .dot7 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e0e0e0;
    animation: bounce 1.5s infinite;
  }
  .dot8 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #06c200;
    animation: bounce 1.5s infinite;
  }








































.footer {
    padding: 50px;
        background: #1c1c1c;
        color: #fff;
        padding: 20px;
        text-align: right;
        direction: rtl;
    }
    .footer-top {
        padding-right: 95px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }
    .footer-top img{
        width: 40px;
    }
    .footer-container {
        padding-left: 50px;
        padding-right: 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer-column {
        width: 22%;
    }
    .footer-column h4 {
        cursor: pointer;
        margin-bottom: 10px;
        transition: color 0.3s ease;
    }
    .footer-column h4:hover {
        color: #d4d4d4;
    }
    .footer-list {
        list-style: none;
        padding: 0;
        display: block;
        transition: max-height 0.3s ease-out;
    }
    .footer-column ul li a {
        font-size: 18px;
        color: #ccc;
        text-decoration: none;
    }
    .footer-column ul li a:hover {
        text-decoration: underline;
        color: #fff;
    }
    .footer-bottom {
        text-align: center;
        margin-top: 60px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
        font-size: 14px;
        color: #666;
    }

    .footer-bottom a {
        margin: 0 10px;
        text-decoration: none;
        color: #ffffff;
    }

    .footer-bottom a:hover {
        text-decoration: underline;
        color: #ffffff;
    }

    .footer-bottom .country {
        color: #ccc;
        margin-right: 300px;
    }

    .footer-bottom span {
        color: #cecece;
    }

    @media (max-width: 768px) {
        .footer-bottom .country {
            font-size: 12px;
            display: block;
            margin: 10px 0 0 0;
        }
    }
    @media (max-width: 768px) {
        .footer-top{
            padding-right: 0px;
            padding-top: 10px;
        }
        .footer-container {
            padding: 10px;
            flex-direction: column;
        }
        .footer-top img{
        width: 30px;
    }
        .footer-column {
            width: 100%;
        }
        .footer-list {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }
        .footer-column h4::after {
            content: " ▼";
            float: left;
            transition: transform 0.3s ease;
        }
        .footer-column.open h4::after {
            content: " ▲";
        }
        .footer-column.open .footer-list {
            max-height: 500px; /* Adjust as needed */
        }
    }
